#eclipse
.project
.classpath
.settings/
.metadata
*.launch
org.*
bin
build/
eclipse/

CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
.gradle
modules

#runtime
run
run_server

#mac
.DS_Store


